{#
/**
 * @file
 * Default theme implementation to display a delayed redirection.
 *
 * Available variables:
 * - path: The path to redirect to.
 * - delay: The time delay, as expected by javascript function "setTimeout".
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'auctioneer-commerce--redirect',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <script type="text/javascript">
    var path = '{{ path }}';
    var delay = {{ delay }};
    if (!path.length) {
      path = window.location.href;
    }
    window.setTimeout(function () {
      window.location.replace(path);
    }, delay);
  </script>
</div>
