{#
/**
 * @file
 * Default theme implementation to display the auctioneer entities shortcuts.
 *
 * Available variables:
 * - elements: The renderable content.
 * - context: Arbitrary useful variables. Default ones are:
 *   entity_type: "bid" or "auction".
 *   bundle: The entity bundle.
 *   view_mode: Current entity view mode.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'auctioneer--shortcuts',
    context.entity_type ? 'entity_type--' ~ context.entity_type,
    context.bundle ? 'bundle--' ~ context.bundle,
    context.view_mode ? 'view_mode--' ~ context.view_mode,
  ]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="auctioneer--shortcuts__elements">
    {{ elements }}
  </div>
</div>
