{#
/**
 * @file
 * Template to display an auction.
 *
 * Available variables:
 * - auction: The auction entity object.
 * - bundle: The auction type name.
 * - view_mode: The current view mode.
 * - url: The auction path.
 * - content: The ready-to-print array of content pieces.
 */
#}
{%
  set classes = [
    'auction',
    'auction--type--' ~ bundle,
    'auction--type--' ~ bundle ~ '--view-mode--' ~ view_mode,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="auction__content">
    {{ content }}
  </div>
</div>
