{#
/**
 * @file
 * Two column template for the auction add/edit form.
 *
 * Available variables:
 * - form: The form renderable element.
 *
 * @ingroup themeable
 */
#}
<div class="layout-auction-form clearfix">
  <div class="layout-region layout-region-auction-main">
    {{ form|without('advanced', 'footer', 'actions') }}
  </div>
  <div class="layout-region layout-region-auction-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-auction-footer">
    <div class="layout-region-auction-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
