{#
/**
 * @file
 * Default theme implementation to display the place bid section.
 *
 * Available variables:
 * - content: The renderable content.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'auction-place-bid',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{ content }}
</div>
