{#
/**
 * @file
 * Default theme implementation to display the hammer bid element.
 *
 * Available variables:
 * - content: The renderable content.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'default-template',
  ]
%}
<div {{ attributes.addClass(classes) }}>
  {{ content }}
</div>
