{#
/**
 * @file
 * Template to display a bid.
 *
 * Available variables:
 * - bid: The bid entity object.
 * - bundle: The auction type name.
 * - view_mode: The current view mode.
 * - content: The ready-to-print array of content pieces.
 */
#}
{%
  set classes = [
    'bid',
    'bid--type--' ~ bundle,
    'bid--type--' ~ bundle ~ '--view-mode--' ~ view_mode,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="bid__content">
    {{ content }}
  </div>
</div>
